<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <%= current_user.name %>
        <div><%= link_to root_path do %><img src="/assets/header.png" alt="logo" id="logo" width="100" height="100"><% end %></div>
        <div><%= link_to "トップ", root_path, class: "text-white" %></div>
        <div><%= link_to "投稿する", tasks_new_path, class: "text-white" %></div>
        <div><%= link_to "投稿一覧", root_path, class: "text-white" %></div>

        <div><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></div>
      </header>
    <% end %> 

  <% flash.each do |key, value| %>
      <p class="alert alert-<%= key %>">
        <%= value %>
      </p>
  <% end %>

    <%= yield %>
  </body>
</html>
